// Custom selectboxes.
.selectbox {
  position: relative;
  background: $white;
  select {
    position: relative;
    z-index: 5;
    padding: 6px 38px 6px 10px;
    width: 100%;
    color: $charcoal;
    font-size: .9201em;
    text-transform: none;
    cursor: pointer;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    &::-ms-expand {
      display: none;
    }
  }
}

.dropdown-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: inline-block;
  width: 30px;
  height: 100%;
  margin: 0;
  cursor: pointer;
  zoom: 1;
  border-left: 2px solid transparent;
  @include svg-bg('arrows/down-arrow', $color: $charcoal, $position: 50% 50%);
  background-size: 14px;
  &.activated {
    border-left: none;
  }
}

.form-type-select label {
  float: left;
  padding: 5px 0;
}

// Buttons.
button {
  display: block;
  position: relative;
  margin-bottom: 5px;
  padding: 6px 10px;
  width: 100%;
  color: $white;
  font-size: .9201em;
  text-align: left;
  cursor: pointer;
  border: none;
  transition: .2s;
  background-color: $charcoal;
  &:hover {
    background-color: darken($charcoal, 10%);
  }
}
