// Site properties.
$site-max-width: 1170px;

// Colours.
$white: #FFF;
$grey: #333;
$charcoal: #5C5B5B;
$green: #AAE0AA;

// Stats.
$stat-green: $green;
$stat-yellow: #F5F698;
$stat-orange: #FFBF6D;
$stat-red: #E34949;
$stat-purple: #B79DE2;
$stat-blue: #7399DF;

// Breakpoints.
$mobile: 37.5em; // 600px
$tablet: 48em; // 768px
